<a href="https://colab.research.google.com/github/El-Wally/Leagueoflegends-Analysis/blob/main/lol_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [191]:
import pandas as pd
import json
from pandas import json_normalize
from collections import Counter

In [192]:
df = pd.read_csv('Dataset/games.csv')

In [193]:
df.head(5)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18

Warning: Total number of columns (61) exceeds max_columns (20) limiting to first (20) columns.

In [194]:
#Checking data types of the features
df.dtypes

gameId          int64
creationTime    int64
gameDuration    int64
seasonId        int64
winner          int64
                ...
t2_ban1         int64
t2_ban2         int64
t2_ban3         int64
t2_ban4         int64
t2_ban5         int64
Length: 61, dtype: object

In [195]:
#Checking if any of the features has null values
df.isnull().sum()

gameId          0
creationTime    0
gameDuration    0
seasonId        0
winner          0
               ..
t2_ban1         0
t2_ban2         0
t2_ban3         0
t2_ban4         0
t2_ban5         0
Length: 61, dtype: int64

In [196]:
df.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [197]:
col_nm1= ['t1_ban1','t1_ban2','t1_ban3','t1_ban4','t1_ban5']
col_nm2= ['t2_ban1','t2_ban2','t2_ban3','t1_ban4','t2_ban5']

In [198]:
x = []
for i in zip(col_nm1 , col_nm2):
    print(i)
    x += df[i[0]].to_list() + df[i[1]].to_list()

len(x)

('t1_ban1', 't2_ban1')
('t1_ban2', 't2_ban2')
('t1_ban3', 't2_ban3')
('t1_ban4', 't1_ban4')
('t1_ban5', 't2_ban5')

514900

In [199]:
x = Counter(x)
x = x.most_common(10)
print(x) # the one most common element... 2 would mean the 2 most common

[(157, 32948), (238, 25343), (31, 25011), (122, 23061), (40, 21320), (119, 20208), (53, 18846), (141, 17390), (29, 15822), (154, 15821)]

In [201]:
# Opening JSON file

df2 = pd.read_json('/root/Dataset/champion_info.json', orient='records')
df2

         type version                                               data
1    champion  7.17.2  {'title': 'the Dark Child', 'id': 1, 'key': 'A...
10   champion  7.17.2  {'title': 'The Judicator', 'id': 10, 'key': 'K...
101  champion  7.17.2  {'title': 'the Magus Ascendant', 'id': 101, 'k...
102  champion  7.17.2  {'title': 'the Half-Dragon', 'id': 102, 'key':...
103  champion  7.17.2  {'title': 'the Nine-Tailed Fox', 'id': 103, 'k...
..        ...     ...                                                ...
91   champion  7.17.2  {'title': 'the Blade's Shadow', 'id': 91, 'key...
92   champion  7.17.2  {'title': 'the Exile', 'id': 92, 'key': 'Riven...
96   champion  7.17.2  {'title': 'the Mouth of the Abyss', 'id': 96, ...
98   champion  7.17.2  {'title': 'the Eye of Twilight', 'id': 98, 'ke...
99   champion  7.17.2  {'title': 'the Lady of Luminosity', 'id': 99, ...

[138 rows x 3 columns]

In [202]:
df2 = df2.iloc[:,2]
df2.head(3)

In [205]:
for row in df2:
  row.pop('title')
  row.pop('name')

In [214]:
top_banned = []

for i in df2:

  
  [top_banned.append(tuple([i['key'],i['id'],item[1]/df.shape[0]]))  for item in x if item[0] == i['id']]

print(top_banned)

[('Draven', 119, 0.3924645562245096), ('Darius', 122, 0.4478733734705768), ('Kayn', 141, 0.3377354826179841), ('Zac', 154, 0.30726354631967373), ('Yasuo', 157, 0.6398912410176734), ('Zed', 238, 0.49219265876869295), ('Twitch', 29, 0.3072829675665178), ('Chogath', 31, 0.4857448048164692), ('Janna', 40, 0.4140609827150903), ('Blitzcrank', 53, 0.3660128180229171)]

In [112]:
type(df2)

pandas.core.series.Series

In [ ]:
df2

                                                  data
1    {'title': 'the Dark Child', 'id': 1, 'key': 'A...
10   {'title': 'The Judicator', 'id': 10, 'key': 'K...
101  {'title': 'the Magus Ascendant', 'id': 101, 'k...
102  {'title': 'the Half-Dragon', 'id': 102, 'key':...
103  {'title': 'the Nine-Tailed Fox', 'id': 103, 'k...
..                                                 ...
91   {'title': "the Blade's Shadow", 'id': 91, 'key...
92   {'title': 'the Exile', 'id': 92, 'key': 'Riven...
96   {'title': 'the Mouth of the Abyss', 'id': 96, ...
98   {'title': 'the Eye of Twilight', 'id': 98, 'ke...
99   {'title': 'the Lady of Luminosity', 'id': 99, ...

[138 rows x 1 columns]

In [ ]:
df2.columns

Index(['type', 'version', 'data'], dtype='object')

In [ ]:
df2 = df2['data']

**We are dropping both game version(patch no.) since the data collected is from the same version aswell as the type since all of them are of same feature name(champion)**

                                                  data
1    {'title': 'the Dark Child', 'id': 1, 'key': 'A...
10   {'title': 'The Judicator', 'id': 10, 'key': 'K...
101  {'title': 'the Magus Ascendant', 'id': 101, 'k...
102  {'title': 'the Half-Dragon', 'id': 102, 'key':...
103  {'title': 'the Nine-Tailed Fox', 'id': 103, 'k...
..                                                 ...
91   {'title': 'the Blade's Shadow', 'id': 91, 'key...
92   {'title': 'the Exile', 'id': 92, 'key': 'Riven...
96   {'title': 'the Mouth of the Abyss', 'id': 96, ...
98   {'title': 'the Eye of Twilight', 'id': 98, 'ke...
99   {'title': 'the Lady of Luminosity', 'id': 99, ...

[138 rows x 1 columns]